@{
   ViewData["Title"] = "Página de Início";
}

<!-- esta uma linha de comentário em HTML -->
@* é uma linha de comentário em RAZOR 
   esta linha de comentário não vai para o Cliente

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@


<div class="text-center">
   <h1 class="display-4">Cálculo das Raízes de uma Equação do 2º Grau</h1>
   <img src="https://www.casadasciencias.org/storage/app/uploads/public/5e0/df9/6ae/5e0df96ae8108558117106.png?contador=1"
        alt="imagem com a fórmula resolvente a ser aplicada"
        width="200" />
</div>

<form>
   <div>
      indique o valor do parâmetro <b>a</b>: <input type="text" name="A"/> <br />
      indique o valor do parâmetro <b>b</b>: <input type="text" name="B"/> <br />
      indique o valor do parâmetro <b>c</b>: <input type="text" name="C"/> <br />
      <input type="submit" value="Calcular" />
   </div>

   @*
   <input type="text" id="A" />
   <input type="text" name="A" />

   o 'id' é para referenciar a 'textbox' no javascript. No Browser.
   no servidor, usa-se o 'name'
   *@

</form>